* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}


#header {
    margin-top: 35vh;
    text-align: center;
    color: white;
    font-size: 2vh;
}

#form-container {
    background-color: white;
    margin-top: 60vh;
    display: flex;
    justify-content: center;    
}

#survey-form {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: violet;
    width: 50vw;
    margin: 20px;
    padding: 20px;
}

#names-and-dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: auto;
    width: 100%;
}

.input-box {
    width: 47vw;
    margin: 2px;
}

#radio-container {
    margin-top: 2%;
}

.radio-button {
    display: grid;
    grid-template-columns: 20px 1fr
}

#checkbox {
    display: grid;
    grid-template-columns: 20px 1fr;
}

#additional-comments {
    width: 47vw;
    resize: vertical;
}
